*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.voice{
    width: 100%;
    min-height: 100vh;
    background-color:#010750;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    color: #fff;
}
.voice h1{
    font-size: 60px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
}
.voice h1 span{
    color: rgb(38, 38, 223);
}
#convert_text{
    width: 80%;
    height: 200px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}
button{
    padding: 10px 20px;
    background: #0ea4da;
    border: 0;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
}